.custom-navbar {
  background-color: #111827;
  padding: 15px 0;

  .navbar-brand {
    color: white;
    font-size: 24px;

    &:hover {
      color: #0d6efd;
    }
  }

  .nav-link {
    color: #d1d5db;
    margin-left: 15px;
    font-weight: 500;

    &:hover {
      color: white;
    }
  }

  .nav-link.active {
    color: #0d6efd;
  }

  .navbar-toggler {
    border-color: white;
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }
}